@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #1a1a2e;
  color: #eee;
}

a {
  color: #ff6b6b;
}
